body {
background-color:rgb(170,250,350);
}
#circle {
  border: 3px solid black;
	border-radius: 50%;
  background:orange;
	width: 200px;
	height: 200px;
  color:green;

	/* width and height can be anything, as long as they're equal */
}
